<div class='flex_horizontal align_center chat_header'>
  <div class='flex_horizontal align_center'>
    {{{avatar}}}
    {{> label txt=title block='chat_header' modifiers='m'}}
  </div>
  {{{options}}}
</div>
