<div class="inputWrapper">
    {{> label txt=title block="input" modifiers="s"}}
    <input class="input label-m" placeholder="{{title}}" value="{{value}}" {{#if password}}type="password" {{/if}} />
    {{#if error}}{{> label txt=error modifiers="xs,error"}}{{> label}}{{/if}}
</div>