<div class="plate fv">
  {{> label title modifiers="l"}}
  <ul class="{{> styles element="form"}}">
    {{#each fields}}
    <li>
      {{{this}}}
    </li>
    {{/each}}
  </ul>
  {{{button}}}
  <div class="footer">
    {{{link}}}
  </div>
</div>
