<div class='{{> styles element='avatar' modifiers=(split modifiers)}}'>
  <div class='flex_vertical justify_center avatar__content'>
    <div class='label label-m'>Поменять<br />аватар</div>
  </div>
</div>
