<li class='fv chatHolder'>
  <div class='fh chat'>
    <div class='chatAvatar'></div>
    <div class='fv left'>
      {{> label title modifiers="m"}}
      <div class='message'>
        {{msg}}
      </div>
    </div>
    <div class='fv right'>
      <div class='time'>
        {{time}}
      </div>
      {{#if unread}}
      <div class='fh unread'>
        {{unread}}
      </div>
      {{/if}}
    </div>
  </div>
  <div class='dash'></div>
</li>
