<li class='fv ac line_chat'>
  <div class='fh ac chat'>
    {{{avatar}}}
    <div class="fv as">
      <div class="fh ac row">
        {{> label txt=title modifiers="m"}}
        <div class='time'>
          {{time}}
        </div>
      </div>
      <div class="fh ac row">
        <div class='message_preview'>
          {{msg}}
        </div>
        {{#if unread}}
        <div class='fh ac unread'>
          {{unread}}
        </div>
        {{/if}}
      </div>
    </div>
  </div>
  <div class='dash'></div>
</li>