<li class="fh line">
    <div class="label label-m label-key">{{key}}</div>
    <input class="label label-m label-value line__input" value="{{value}}" placeholder="{{key}}"
        {{#if password}}type="password" {{/if}} />
</li>