@import "./components/avatar/styles.less";
@import "./components/list-profile/styles.less";
@import "./components/list-profile/elements/line/styles.less";
@import "./components/list-input/elements/line-input/styles.less";

@buttonHolderWidth: 64px;

.buttonHolder {
  width: @buttonHolderWidth;
  height: 100vh;
  border-right: solid 1px @colorSecondaryLighter;
  background: @colorSecondaryLightest;
  cursor: pointer;
}

.profile_wrapper {
  width: calc(100vw - @buttonHolderWidth);
}

.profile__list {
  margin-top: 97px;
}

.footer__list {
  margin-top: 60px;
}

.footer__button {
  margin-top: 60px;
}
