<div class='flex_vertical align_center profile_wrapper'>
  {{{avatar}}}
  {{#if title}}
  {{> label txt=title block='list' modifiers='list'}}
  {{/if}}
  {{{content}}}
  {{#if footer}}
  {{{footer}}}
  {{/if}}
</div>
