<div class='flex_vertical align_center justify_center {{> styles element='popup_cover' modifiers=(split modifiers)}}'>
  <div class='flex_vertical align_center {{> styles element='plate' modifiers='popup'}}'>
    {{> label txt=title modifiers=(concat title.modifiers 'popup')}}
    <div class='flex_vertical align_center justify_center popup__content'>
      {{#if flags.input}}
      {{{input}}}
      {{/if}}
      {{#if flags.list}}
      {{{list}}}
      {{/if}}
      {{#if flags.upload}}
      {{{upload}}}
      {{/if}}
    </div>
    {{{button}}}
    {{#if footer}}
    {{> label txt=footer modifiers='s,error' styles='footer'}}
    {{/if}}
  </div>
</div>
