<div class='flex_vertical align_center chats'>
  <div class='flex_horizontal align_center search_wrapper'>
    {{{search}}}
    {{{addChat}}}
  </div>
  <ul>
    {{#each fields}}
    {{{this}}}
    {{/each}}
  </ul>
</div>
