<li class='flex_vertical align_center line_chat'>
  <div class='flex_horizontal align_center {{> styles element='chat' modifiers=(split modifiers)}}'>
    {{{avatar}}}
    <div class='flex_vertical align_start'>
      <div class='flex_horizontal align_center row'>
        {{> label txt=title modifiers='m'}}
        <div class='time'>
          {{time}}
        </div>
      </div>
      <div class='flex_horizontal align_center row'>
        <div class='message_preview'>
          {{msg}}
        </div>
        {{#if unread}}
        <div class='flex_horizontal align_center unread'>
          {{unread}}
        </div>
        {{/if}}
      </div>
    </div>
  </div>
  <div class='dash'></div>
</li>
